# Python version of R or Excel
## Data cleaning, wrangling and preparation
## Built on numpy package

In [1]:
# Series
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
mydata=[10,20,30]
arr=np.array(mydata)
d={'a':10,'b':20,'c':30}

In [7]:
pd.Series(data=mydata)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=mydata,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(mydata,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
s1=pd.Series([1,2,3,4],['USA','Germany','India','Russia'])
s1

USA        1
Germany    2
India      3
Russia     4
dtype: int64

In [15]:
s2=pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
s2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [16]:
s1['USA']

1

In [17]:
s3=pd.Series(data=labels)
s3

0    a
1    b
2    c
dtype: object

In [20]:
s3[2]

'c'

In [22]:
s1+s2

Germany    4.0
India      NaN
Italy      NaN
Japan      NaN
Russia     NaN
USA        2.0
dtype: float64

In [ ]:
# Dataframes